*{
    margin: 0;
    padding: 0;
}


#contact{
    padding-top: 130px;
    padding-bottom: 5rem;
    /* background-color: rgba(190, 118, 11, 0.699); */
    background-color: #FBAB7E;
    background-image: -webkit-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-image: -moz-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-image: -o-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

#contact-h1{
    color: rgb(95, 95, 95);
}

.address{
    padding-top: 4rem;
    color: rgb(95, 95, 95);
}

.location{
    padding-top: 5rem;
    padding-bottom: 5rem;
}